.placesAutocomplete{
     position: relative;
    
    @media (min-width: 768px){
        max-width: 400px;
    }
    
}

.placesAutocomplete ul{
    position: absolute;
    z-index: 1;
    margin-top: 8px;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    @media (min-width: 768px){
        flex-direction: row;
    }
    
}